.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea
*.iml

# android keystore
android.jks
keystore.properties

# Google API keys
app/src/main/res/values/api_keys.xml
